services:
  app:
    container_name: videomaker-app
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3011:3000"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
      - PORT=3000
    stdin_open: true
    tty: true
